*.idea/*
*scripts/*
*pem-keys/*
terraform.tfvars
.terraform/
*terraform.tfstate*
*.retry*
*ubuntu-xenial-16.04-cloudimg-console*
*.json*
*agrant*
*playbooks*
*.vagrant/*
*tech-scripts/*
*Vagrantfile*
*inventories*
*pre-commit-terraform-format.hook*